<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ items.previous_page_number }}"><span class="icon-left"></span></a></li>
        {% for i in paginator.page_range %}
            {% if items.number == i %}
                <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="pagination__item"><a class="pagination__link link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ items.next_page_number }}"><span class="icon-right"></span></a></li>
    </ul>
</nav>
