<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
        <a href="{% url 'detail_recipe' recipe.slug %}" class="link"><img
                src="{{ im.url }}" alt="{{ recipe.title }}"
                class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link"
           href="{% url 'detail_recipe' recipe.slug %}">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tags in recipe.tags.all %}
            <li class="card__item"><span class="badge badge_style_{{ tags.colour }}">{{ tags.title|title }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span
                    class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author_page' recipe.author.username %}"
                                                                     style="color: black"> {{ recipe.author.first_name }} </a>
            </p>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="card__footer">
            <button class="button button_style{% if recipe in purchase %}_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен{% else %}_light-blue" name="purchases" data-out><span class="icon-plus"></span> Добавить в покупки{% endif %}</button>
        {% if recipe.author != request.user %}
            <button class="button button_style_none" name="favorites"{% if recipe in favorite %}><span class="icon-favorite icon-favorite_active"{% else %} data-out><span class="icon-favorite"{% endif %}></span></button>
        {% endif %}
        </div>
    {% endif %}
</div>
