{% extends "recipes/base.html" %}
{% load static %}
{% block title %}foodgram | Новый пароль{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'pages/form.css' %} ">{% endblock %}
{% block content %}
{% load user_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Введите новый пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    {{ field|addclass:'form__input'}}
                        <span class="form__input-info">{{ field.help_text|safe }}</span>
                        <span class="form__error">
                                {% if field.label == 'Подтверждение нового пароля' %}
                                    <span>{{ form.errors.new_password2 }}</span>
                                {% endif %}
                        </span>
                </div>
            </div>
            {% endfor %}
           <div class="form__footer">
               <button type="submit" class="button button_style_blue">Назначить новый пароль</button>
           </div>
        </form>
    </div>
</main>
{% endblock %}
