{% extends "recipes/base.html" %}
{% load static %}
{% block title %}foodgram | О проекте{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'pages/index.css' %} ">{% endblock %}
{% block content %}
    <div class="custom-center-block">
    <h2 align="center"><i>food</i>gram</h2>
            <p class="custom-text-block" align="center"><span
                    style="font-size: medium; ">Cайт, на котором пользователи могут публиковать рецепты,<br>
                                                        добавлять чужие рецепты в избранное и подписываться<br>
                                                    на публикации других авторов. Сервис «Список покупок» позволяет<br>
                                    пользователям создавать список продуктов, которые нужно купить для приготовления выбранных блюд. </span>
            </p>
    </div>

{% endblock %}