{% extends "recipes/base.html" %}
{% load static %}
{% block title %}foodgram | Об авторе{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'pages/index.css' %} ">{% endblock %}
{% block content %}
    <div class="custom-center-block">
    <h2 align="center"><i>food</i>gram</h2>
            <p class="custom-text-block" align="center"><span
                    style="font-size: medium; ">Back-end данного сайта разработан в качестве дипломного проекта<br>студентом 6 когорты на курсе Яндекс.Практикум <b>"Python - разработчик"<b><br><br><a href="https://github.com/PySCBist">GitHub</a></span></p>
        <div class="custom-button-block">
            <button class="button button_style_light-blue"> <a href="{% url 'index' %}">Перейти на главную</a></button>
        </div>
    </div>

{% endblock %}