{% extends "recipes/base.html" %}
{% load static %}
{% block title %}foodgram | Технологии{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'pages/index.css' %} ">{% endblock %}
{% block content %}
    <div class="custom-center-block">
    <h2 align="center"><i>food</i>gram</h2>
            <p class="custom-text-block" align="center"><span
                    style="font-size: medium; ">Разработано на <cite>Django</cite></tt><br></span>
            </p>
    </div>

{% endblock %}