{% extends "recipes/base.html" %}
{% load static %}
{% block title %}foodgram | Мои подписки{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'pages/myFollow.css' %} ">{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
</div>
<div class="card-list">
    {% if page.object_list.count > 0 %}
    {% for author in page %}
        <div class="card-user" data-author="{{ author.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ author.username }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in author.recipes.all %}
                        {% if forloop.counter < 4 %}
                    <li class="card-user__item">
                        <div class="recipe">
                            {% load thumbnail %}
                            {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="какой-то-текст" class="recipe__image">
                            {% endthumbnail %}
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} минут</p>
                        </div>
                    </li>
                        {% endif %}
                    {% endfor %}
                    <li class="card-user__item">
                        <a href="{% url 'author_page' author.username %}" class="card-user__link link">{% if author.recipes.all.count > 3 %}Другие рецепты от автора{% else %}Страница пользователя{% endif %}</a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                {% csrf_token %}
            </div>
        </div>
    {% endfor %}
        {% else %}<a><h2>Вы ещё ни на кого не подписаны</h2></a>
    {% endif %}
</div>
{% if page_obj.has_other_pages %}
    {% include 'includes/paginator.html' with items=page_obj paginator=paginator %}
{% endif %}
    {% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'pages/js/myFollow.js' %}"></script>
    {% endblock %}
{% endblock %}